html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#map {
    height: 100%;
}